$font--header : "Kelly Slab", cursive;
$font--logo: 'Bruno Ace', cursive;
$font--normal: 'Raleway', sans-serif;

$color--primary  : #A8865F;
$color--secondary  : black;

$brk--lg :960px;
$brk--md: 650px;
$brk--sm: 440px;
